.hero {
  position: relative;
  padding-top: 180px;
}

.hero .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.hero-content {
  max-width: 605px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.hero-buttons {
  margin-top: 20px;
  display: flex;
  gap: 12px;
}
.hero-order-clean {
  border: 1px solid #ff937b;
  background-color: #ff6745;
  padding: 12px 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease !important;
}

.hero-order-clean:hover {
  background-color: #fa5939;
  border: 1px solid #ff8d68;
  color: rgba(255, 255, 255, 1) !important;
}
.hero-call-me {
  border: 1px solid #343332;
  background-color: #222120;
  padding: 12px 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.hero-call-me:hover {
  border: 1px solid #343332;
  background-color: #181716;
}
.hero-img {
  display: flex;
  max-width: 640px;
  width: 100%;
}

.hero-img img {
  border-radius: 10px;
}

@media only screen and (max-width: 1200px) {
  .hero-img {
    max-width: 480px;
  }
}

@media only screen and (max-width: 1100px) {
  .hero .container {
    align-items: flex-start;
  }
}
@media only screen and (max-width: 1100px) {
  .hero-content {
    max-width: 500px;
  }
}
@media only screen and (max-width: 980px) {
  .header-right-side {
    max-width: 215px;
  }
  .header-left-side {
    max-width: 425px;
  }
  .hero-img {
    width: 0%;
    margin: 0 auto;
    max-width: 600px;
  }
}
@media only screen and (max-width: 840px) {
  .hero {
    position: relative;
    padding-top: 230px;
  }
}

@media only screen and (max-width: 600px) {
  .hero-img {
    width: 100%;
  }
  .hero .container {
    flex-direction: column;
  }
  .hero-buttons {
    flex-direction: column;
  }
  .hero-order-clean {
    text-align: center;
  }
  .hero-content {
    max-width: 600px;
  }
}
